@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-accent: #1925d2;
  --color-surface: #03e2aa;
}
